MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority
PORT=4000
# Signiert die Login-Tokens. Zufälligen, langen Wert erzeugen, z. B.:
#   node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_SECRET=
